* {
	cursor: default;
}

html {
	overflow: hidden;
}

a {
	color: white;
	cursor: pointer;
}

::-webkit-input-placeholder  {
	color: #555;
}

input:-moz-placeholder {
	color: #555;
}

.clickable {
	cursor: pointer !important;
}

.clickable * {
	cursor: pointer !important;
}

input {
	cursor: text !important;
	font-family: 'Droid Serif', serif;
}

input:focus {
	outline: none;
}

input[type="button"] {
	cursor: pointer !important;
}

body {
	background: #111;
	font-family: 'Droid Serif', serif;
	color: #eee;
}

#debug {
	top: -1.25em;
	opacity: 1 !important;
}

#container {
	background: rgba(34, 34, 34, 1) url('../images/960x720.png');
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	height: 720px;
	position: relative;
	top: 50%;
	margin-top: -360px;
	-webkit-transition: background 0.15s ease-in-out;
	-moz-transition: background 0.15s ease-in-out;
	-o-transition: background 0.15s ease-in-out;
	-ms-transition: background 0.15s ease-in-out;
	transition: background 0.15s ease-in-out;
}

/*#container.highlighted {
	background: rgba(255, 0, 0, 1);
}*/

#container > * {
	position: absolute;
	overflow: hidden;
	-webkit-transition: height 0.5s ease-in-out, width 0.5s ease-in-out, top 0.5s ease-in-out, left 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-moz-transition: height 0.5s ease-in-out, width 0.5s ease-in-out, top 0.5s ease-in-out, left 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-o-transition: height 0.5s ease-in-out, width 0.5s ease-in-out, top 0.5s ease-in-out, left 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-ms-transition: height 0.5s ease-in-out, width 0.5s ease-in-out, top 0.5s ease-in-out, left 0.5s ease-in-out, opacity 0.5s ease-in-out;
	transition: height 0.5s ease-in-out, width 0.5s ease-in-out, top 0.5s ease-in-out, left 0.5s ease-in-out, opacity 0.5s ease-in-out;
	opacity: 0;
}

#container-outline {
	width: 944px;
	height: 704px;
	left: 0;
	top: 0;
	border: 8px solid red;
	z-index: 99999;
	display: none;
	opacity: 1;
}

#titlebox {
	top: 330px;
	left: 330px;
	height: 60px;
	width: 300px;
	z-index: 999;
}

#title, #author {
	font-family: 'EB Garamond', serif;
	text-align: center;
	color: rgba(238, 238, 238, 0.1);
	font-size: 72px;
	font-weight: bold;
	line-height: 75%;
	-webkit-transition: text-shadow 0.15s ease-in-out;
	-moz-transition: text-shadow 0.15s ease-in-out;
	-o-transition: text-shadow 0.15s ease-in-out;
	-ms-transition: text-shadow 0.15s ease-in-out;
	transition: text-shadow 0.15s ease-in-out;
	position: relative;
	z-index: 1000;
}

#title {
	font-size: 50px;
	text-shadow: 0 0 3px #eee;
	text-transform: uppercase;
	top: 3px;
}

#title.hover {
	text-shadow: 0 0 8px #eee;
	color: rgba(255, 255, 255, 0.25);
}

#author {
	font-size: 18px;
	text-shadow: 0 0 1px #eee;
	font-variant: small-caps;
	top: 4px;
}

#author.hover {
	text-shadow: 0 0 6px #eee;
	color: rgba(255, 255, 255, 0.25);
}

#loginbox {
	top: 80px;
	width: 300px;
	height: 140px;
	/*background: rgba(100, 0, 0, 0.25);*/
	position: absolute;
}

#loginbox > input {
	background: rgba(50, 50, 50, 1);
	color: #999;
	border: none;
	text-align: center;
	width: 140px;
	margin: 0 auto;
	display: block;
	margin-bottom: 10px;
	font-size: 18px;
	height: 24px;
	box-shadow: 0 0 4px 2px rgba(50, 50, 50, 1);
	-webkit-transition: background 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	-moz-transition: background 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	-o-transition: background 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	-ms-transition: background 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: background 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#loginbox > input[type="text"]:hover, #loginbox > input[type="password"]:hover {
	background: rgba(54, 54, 54, 1);
	box-shadow: 0 0 4px 2px rgba(54, 54, 54, 1);
}

#loginbox > input[type="text"]:focus, #loginbox > input[type="password"]:focus {
	background: rgba(59, 59, 59, 1);
	box-shadow: 0 0 4px 2px rgba(59, 59, 59, 1);
}

#loginbox > input[type="button"] {
	background: rgba(68, 68, 68, 1);
	color: #999;
	box-shadow: 0 0 4px 2px rgba(68, 68, 68, 1);
}

#loginbox > input[type="button"]:hover {
	background: rgba(75, 75, 75, 1);
	box-shadow: 0 0 4px 2px rgba(75, 75, 75, 1);
}

#loginbox > input[type="button"]:focus {
	background: rgba(85, 85, 85, 1);
	box-shadow: 0 0 4px 2px rgba(85, 85, 85, 1);
}

#flashes {
}

.flash {
	text-align: center;
	font-size: 12px;
	background: rgba(128, 128, 128, 1);
	color: #333;
	box-shadow: 0 0 4px 2px rgba(128, 128, 128, 1);
	width: 180px;
	margin: 0 auto;
	margin-bottom: 8px;
}

/*
 * LOG
 */

#logwrapper {
	overflow: hidden;
}

#log {
	left: 5px;
	right: 5px;
	top: 5px;
	bottom: 5px;
	position: absolute;
	color: #ccc;
	overflow-x: hidden;
	overflow-y: scroll;
}

#log > div {
	opacity: 1;
	-webkit-transition: -webkit-transform 0.35s ease-out, opacity 0.35s ease-out;
	-moz-transition: -moz-transform 0.35s ease-out, opacity 0.35s ease-out;
	-o-transition: -o-transform 0.35s ease-out, opacity 0.35s ease-out;
	-ms-transition: -ms-transition 0.35s ease-out, opacity 0.35s ease-out;
	transition: -webkit-transform 0.35s ease-out, opacity 0.35s ease-out;
	margin-bottom: 6px;
}

#log > div.read {
	opacity: 0.45 !important;
}

#log > div.command {
	color: #999;
	opacity: 0;
	margin-left: 16px;
}

#logcontainer {
	background: rgba(20, 20, 20, 1);
}

#container.onecolumn > #logcontainer, #container.onecolumnbasic > #logcontainer {
	width: 460px;
	height: 620px;
	left: 250px;
	top: 10px;
	opacity: 1;
}

#container.roguelike > #logcontainer {
	width: 460px;
	height: 620px;
	left: 490px;
	top: 10px;
	opacity: 1;
}

/*
 * INPUT
 */

#inputcontainer > #input {
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	padding: 2px 5px;
	font-size: 24px;
	background: rgba(85, 85, 85, 0.5);
	height: 1.25em;
	-webkit-transition: -webkit-transform 0.15s ease-in-out, left 0.15s ease-in-out;
	-moz-transition: -moz-transform 0.15s ease-in-out, left 0.15s ease-in-out;
	-o-transition: -o-transform 0.15s ease-in-out, left 0.15s ease-in-out;
	-ms-transition: -ms-transition 0.15s ease-in-out, left 0.15s ease-in-out;
	transition: -webkit-transform 0.15s ease-in-out, left 0.15s ease-in-out;
}

#inputcontainer.active > #input {
	left: 32px;
}

#inputcontainer > #input > #input-text {
	-webkit-transition: -webkit-transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
	-moz-transition: -moz-transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
	-o-transition: -o-transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
	-ms-transition: -ms-transition 0.15s ease-in-out, opacity 0.15s ease-in-out;
	transition: -webkit-transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
	opacity: 0;
}

#inputcontainer.active > #input > #input-text {
	opacity: 1;
}

#inputcontainer > #prompt {
	position: absolute;
	top: 5px;
	left: 5px;
	padding: 2px 5px;
	font-size: 24px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);

	-webkit-transition: -webkit-transform 0.35s ease-in-out, opacity 0.35s ease-in-out;
	-moz-transition: -moz-transform 0.35s ease-in-out, opacity 0.35s ease-in-out;
	-o-transition: -o-transform 0.35s ease-in-out, opacity 0.35s ease-in-out;
	-ms-transition: -ms-transition 0.35s ease-in-out, opacity 0.35s ease-in-out;
	transition: -webkit-transform 0.35s ease-in-out, opacity 0.35s ease-in-out;
	opacity: 0;
}

#inputcontainer.active > #prompt {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	opacity: 1;
}

#inputcontainer {
	position: relative;
	background: rgba(60, 60, 60, 1);
}

#container.onecolumn > #inputcontainer, #container.onecolumnbasic > #inputcontainer {
	width: 460px;
	height: 60px;
	left: 250px;
	top: 650px;
	opacity: 1;
}

#container.roguelike > #inputcontainer {
	width: 460px;
	height: 60px;
	left: 490px;
	top: 650px;
	opacity: 1;
}

/*
 * GRID
 */

#grid {
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 5px;
	background: url('../images/test_tile.png');
	position: absolute;
}

#gridcontainer {
	background: rgba(15, 15, 15, 1);
}

#container.roguelike > #gridcontainer {
	width: 460px;
	height: 460px;
	left: 10px;
	top: 90px;
	opacity: 1;
}

/*
 * PLACE
 */

#place {
	position: relative;
}

#smallplace {
	left: 5px;
	top: 13px;
	position: absolute;
	font-size: 12px;
}

#bigplace {
	left: 5px;
	top: 25px;
	position: absolute;
	font-size: 20px;
}

#placecontainer {
	background: rgba(50, 50, 50, 1);
}

#container.onecolumn > #placecontainer, #container.roguelike > #placecontainer {
	width: 220px;
	height: 60px;
	left: 10px;
	top: 10px;
	opacity: 1;
}

/*
 * TIME
 */

#date {
	width: 50px;
	height: 50px;
	left: 5px;
	top: 5px;
	position: absolute;
	font-family: 'Droid Sans', sans-serif;
	background: #111;
	text-align: center;
	font-weight: bold;
}

#month {
	margin-top: 2px;
	text-transform: uppercase;
	font-size: 11px;
}

#day {
	background: #ddd;
	color: #111;
	position: absolute;
	top: 15px;
	right: 5px;
	bottom: 5px;
	left: 5px;
	font-size: 26px;
}

#time {
	font-family: 'Droid Serif', serif;
	left: 63px;
	width: 150px;
	position: absolute;
	font-size: 54px;
	text-align: center;
}

#timecontainer {
	background: rgba(70, 70, 70, 0.25);
}

#container.onecolumn > #timecontainer {
	width: 220px;
	height: 60px;
	left: 730px;
	top: 10px;
	opacity: 1;
}

#container.roguelike > #timecontainer {
	width: 220px;
	height: 60px;
	left: 250px;
	top: 10px;
	opacity: 1;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 10000;
}

#overlay-message {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	z-index: 10001;
	font-size: 14px;
	/*line-height: 185%;*/
}

#overlay-message > div {
}

#overlay-message > div > span {
	background: rgba(0, 0, 0, 0.5);
	padding: 4px 8px;
	line-height: 175%;
}